/**/
*{
	margin: 0px;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Amatic SC', cursive;
}

/*Nav Section*/

.nav-menu{
	display: block;
}
.nav-menu *{
	font-size: 18px;
	list-style: none;
}
.nav-menu a{
	align-items: center;
	color: #45505b;
	padding: 10px 20px;
	margin-bottom: 8px;
	border-radius: 50px;
	background: #f2f3f5;
}
.nav-menu span{
	display: none;
}
.nav-menu a:hover span, .nav-menu li:hover > a span {
  display: inline-block;
}
.nav-menu a:hover, .nav-menu li:hover > a {
  width: 100%;
  color: #fff;
  background: #0677e1;
}
.nav-menu .active:focus{
	color: #fff;
	background: #0677e1;
}
.social-links a{
	font-size: 20px;
}

/*home Section*/
#home{
	width: 100%;
	height: 100vh;
	background: url("./images/bg.jpg") top left no-repeat;
	background-size: cover;
	position: relative;

}
#home h1{
	margin: 0;
  	font-size: 64px;
  	font-weight: 700;
  	line-height: 56px;
  	color: #45505b;
}
#home p{
	color: #45505b;
	font-size: 26px;
}
#home a{
	color: #45505b;
}
#home a:hover{
	color: #0677e1;;
}

/*Bg of all Section*/
#about, #project, #contact{
	width: 100%;
	height: 100%;
	background: url("./images/bg2.jpg") top left no-repeat;
	background-size: cover;
	/*position: relative;*/
}

/*About Section*/
#about *{
	list-style: none;
}
#about h2{
	font-size: 54px;
}
#about img{
	height: 50vh;
}
#about .section-sub-title h3{
	font-size: 39px;
}


/*Project section*/
#project h2{
	font-size: 54px;
}
#project #project-flters{
	list-style: none;
	text-align: center;
}


/*Contact Session*/
#contact h2{
  	font-size: 54px;
}

#contact button[type=submit]{
	background: #0677e1;
  	border: 0;
  	padding: 10px 35px;
  	color: #fff;
  	transition: 0.4s;
  	border-radius: 50px;
}
#contact .loading, #contact .error-message, #contact .sent-message{
	display: none;
}
#contact .modal-title{
	font-size: 30px;
	font-weight: 700;
}
#contact #gmap_canvas{
	height: 50vh;
}



/*Footer*/
#footer {
  background: #f7f8f9;
  color: #45505b;
  font-size: 15px;
}
#footer .social-links a{
  font-size: 18px;
  display: inline-block;
  background: #45505b;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .social-links a:hover {
  background: #0677e1;
  color: #fff;
  text-decoration: none;
}